layout {

    focus-ring {
        active-color   "#feb0d3"
        inactive-color "#130c0f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#feb0d3"
        inactive-color "#130c0f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#feb0d3"
        inactive-color "#7f5869"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#feb0d380"
    }
}

recent-windows {
    highlight {
        active-color "#feb0d3"
        urgent-color "#ffb4ab"
    }
}
