layout {

    focus-ring {
        active-color   "#a2c9fd"
        inactive-color "#0b0e13"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a2c9fd"
        inactive-color "#0b0e13"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a2c9fd"
        inactive-color "#51647e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a2c9fd80"
    }
}

recent-windows {
    highlight {
        active-color "#a2c9fd"
        urgent-color "#ffb4ab"
    }
}
